body {
  background: url("http://i1172.photobucket.com/albums/r576/SW1992/Random%20Film%20Quote%20Machine/Cinema%20Screen_zps7etz9kje.jpg") no-repeat center center; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family: sans-serif;
}
header p {
  margin-bottom: 5em;
}
section {
  text-align: center;
}
#tweet {
  margin-right: -15em;
  margin-bottom: 5em;
}
#newquote {
  margin-left: -5em;
  margin-bottom: 5em;
}
footer {
  text-align: center;
} 
footer a {
  color: #00FF00;
}
footer a:hover, footer a:visited {
  color: #00FF00;
  text-decoration: none;
}
.buttons a {
  background-color: #FFF;
  color: #00FF00;
}
.buttons a:hover {
  color: #00FF00;
}
.buttons button {
  background-color: #FFF;
  color: #00FF00;
}
.buttons button:hover {
  color: #00FF00;
}
h1, p {
  color: #00FF00;
}
#newquote:active, #tweet:active {
  color: #00FF00;
}
